* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: red;
    background-repeat: no-repeat;
}
img {
    background-position: bottom;
}
h1 {
    font-size: 2em;
    text-align:center;
    color: yellow;
}
h2 {
    text-align: center;
    color: whitesmoke;
}